@inject AppState state

<navbar class="navbar">
    <div class="navbar-start">
        <div class="navbar-item">
            <span class="has-text-weight-bold">Selected Path:</span>
        </div>
        @if(string.IsNullOrEmpty(state.Path)) {
            <div class="navbar-item">
                <span>/</span>
            </div>
        } else {
            <div class="navbar-item">
                <span>@GetDisplayPath()</span>
            </div>
        }
    </div>
    @if(!string.IsNullOrEmpty(state.Path)) {
        <div class="navbar-end">
            <div class="navbar-item">
                @if(state.InProgress && _loadedCount > 0) {
                    <span class="tag is-info">Loaded @_loadedCount</span>
                }
                <a class="button @(state.InProgress ? "is-loading" : "")" @onclick="@PopFolder">
                    <span class="icon">
                        <i class="oi oi-arrow-thick-top"></i>
                    </span>
                    <span>Up</span>
                </a>
            </div>
        </div>
    }
</navbar>

@code {
    int _loadedCount = 0;

    private Stack<int> pathSlashes = new Stack<int>();

    void PopFolder() {
        state.PopFolder();
    }

    string GetDisplayPath()
    {
        pathSlashes.Clear();
        string path = state.Path;
        for (int i = 0; i < path.Length; i++)
            if (path[i] == '/') pathSlashes.Push(i);
        if(pathSlashes.Count > 2)
        {
            pathSlashes.Pop();
            int index = pathSlashes.Peek();
            return ".." + path.Substring(index);
        }
        return path;
    }

    protected override void OnInit()
    {
        state.InProgressChanged += StateHasChanged;
        state.LoadProgressChanged += (count) => {
            _loadedCount = count;
            StateHasChanged();
        };
        state.DriveItemsChanged += () => {
            _loadedCount = 0;
            StateHasChanged();
        };
    }
}