@inject AppState state

<nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" disabled="@(state.CurrentPage == 1)">Previous</a>
    <a class="pagination-next" onclick="@(async () => await NextPageAsync())">Next page</a>
</nav>

@functions {
    async Task NextPageAsync() {
        await Task.FromResult(0);
        Console.WriteLine("page next");
    }
}
