@page "/"

@inject AppState state
@inject IGraphService graphService

<section class="section">
    <div class="container">
        <article class="subtitle">
            <strong>Blazor Graph API Example:</strong> Welcome to an example of using the Microsoft Graph API from <a href="https://blazor.net" target="_blank">Blazor</a>.
            View the <a href="https://github.com/jburman/BlazorGraphExample" target="_blank">source</a> on Github to see how it works.
        </article>

        <LoginPanel>
            <hr />
            <nav class="navbar">
                <div class="navbar-start">
                    @if (state.User != null)
                    {
                        <text>Hello, @(string.IsNullOrEmpty(state.User.DisplayName) ? state.User.UserPrincipalName : state.User.DisplayName)</text>
                    }
                </div>
                <div class="navbar-end">
                    <div class="field is-grouped">
                        <LoginButton></LoginButton>
                    </div>
                </div>
            </nav>
            <DriveItemList></DriveItemList>
        </LoginPanel>
    </div>
</section>

@functions {

    protected override void OnInit()
    {
        state.LoginStatusChanged += async () =>
        {
            await LoadUserAsync();

            StateHasChanged();
        };
    }

    protected async Task LoadUserAsync()
    {
        if (state.LoginStatus == LoginStatus.LoggedIn)
        {
            var user = await graphService.GetMeAsync(state.AccountId);
            state.SetUser(user);
        }
        else
            state.SetUser(null);
    }
}
